#div_2 
{
    text-align: center;

    padding-bottom: 50px;
}

#div_1
{
    text-align: center;

    padding-top: 50x;

    padding-bottom: 50px;
}

#button_1
{
    font-size: 50px;
}

#my_div
{
    text-align: center;
    padding-bottom: 50px;
}

#heading
{
    text-align: center;

    padding-top: 20px;

    font-size: 75px;
}




